- @tags.each do |tag|
  %a{href:'tag/'+tag.name}= tag.name

%ul
- @items.each do |item|
  %li= item.name

%br

%form{:action=>"/items/add", :method=>"post"}
  %input{type: 'text', name: 'url', placeholder: 'URL'}
  %br
  %textarea{:name=>"tagline", placeholder: 'Цитата'}
  %br
  %input{type: 'text', name: 'tags', placeholder: 'Тэги'}
  %br
  %input{:type=>"submit", :value=>"Add", :class=>"btn"}